<div class="container border">
    <div class="row">
        <div class="col-8">
            <div class="row" [class.winningTeamRow]="awayTeamWon">
                <div class="col-10">
                    <span>{{awayTeamName}}</span>
                </div>
                <div class="col-2">
                    <span *ngIf="scoreAvailable">{{awayTeamRuns}}</span>
                </div>
            </div>
            <div class="row"  [class.winningTeamRow]="homeTeamWon">
                <div class="col-10">
                    <span>{{homeTeamName}}</span>
                </div>
                <div class="col-2">
                    <span *ngIf="scoreAvailable">{{homeTeamRuns}}</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <!-- {{game.status.detailedState}} <span *ngIf="game.status.reason">({{game.status.reason}})</span> -->
            {{gameStateString}}
        </div>
    </div>
</div>