<div class="container border">
    <div class="row">
        <div class="col-7">
            <div class="row" [class.winningTeamRow]="awayTeamWon">
                <span [class.winningTeamName]="awayTeamWon">{{game.teams.away.team.name}}</span>
            </div>
            <div class="row" [class.winningTeamRow]="homeTeamWon">
                <span [class.winningTeamName]="homeTeamWon">{{game.teams.home.team.name}}</span>
            </div>
        </div>
        <div class="col-1">
            <div class="row">
                <span *ngIf="scoreAvailable">{{game.live.liveData.linescore.teams.away.runs}}</span>
            </div>
            <div class="row">
                <span *ngIf="scoreAvailable">{{game.live.liveData.linescore.teams.home.runs}}</span>
            </div>
        </div>
        <div class="col-4">
            {{game.status.detailedState}} <span *ngIf="game.status.reason">({{game.status.reason}})</span>
        </div>
    </div>
</div>