<div class="game">
    <div class="scoreBoard">
        <div class="gameRow" [class.winningTeamRow]="awayTeamWon">
            <div>
                <span>{{awayTeamName}}</span>
            </div>
            <div class="score flex-align-right">
                <span *ngIf="scoreAvailable">{{awayTeamRuns}}</span>
            </div>
        </div>
        <div class="gameRow"  [class.winningTeamRow]="homeTeamWon">
            <div>
                <span>{{homeTeamName}}</span>
            </div>
            <div class="flex-align-right">
                <span *ngIf="scoreAvailable">{{homeTeamRuns}}</span>
            </div>
        </div>
    </div>
    <div class="gameState">
        {{gameStateString}}
    </div>
</div>