<div *ngIf="!daysGamesData">Data loading...</div>

<div 
    class="container-lg bg-dark text-white" 
    *ngIf="daysGamesData">
    <div class="row">
        <div class="col-10">
            Data loaded: {{daysGamesData.games.length}} for games for {{daysGamesData.date}}, loaded at {{lastDataLoadTime?.toLocaleString()}}
        </div>
        <div class="col-2"><span class="float-right"><button class="btn btn-primary">Reload</button></span></div>
    </div>
</div>

<div class="container" *ngIf="daysGamesData">
    <div class="row row-cols-2">
        <div class="col" *ngFor="let game of daysGamesData.games">
            <div class="container border">
                <div class="row">
                    <div class="col-8">
                        <div class="row">{{game.teams.away.team.name}}</div>
                        <div class="row">{{game.teams.home.team.name}}</div>
                    </div>
                    <div class="col-4">
                        {{game.status.detailedState}} <span *ngIf="game.status.reason">({{game.status.reason}})</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>