<div 
    class="container-lg bg-dark text-white">
    <div class="d-flex justify-content-between">
        <div><span class="float-left"><button class="btn btn-primary" (click)="previousDay()"><i class="bi bi-chevron-compact-left"></i></button></span></div>
        <div>
            Data loaded: {{daysGamesData.games.length}} for games for {{daysGamesData.date}}, loaded at {{lastDataLoadTime?.toLocaleString()}}
        </div>
        <div><span class="float-right"><button class="btn btn-primary" (click)="nextDay()"><i class="bi bi-chevron-compact-right"></i></button></span></div>
    </div>
</div>

<div *ngIf="!daysGamesData">Data loading...</div>

<div class="container" *ngIf="daysGamesData">
    <div class="row row-cols-2 pt-1">
        <div class="col p-1" *ngFor="let game of daysGamesData.games">
            <app-days-games-game [game]="game"></app-days-games-game>
        </div>
    </div>
</div>