<div 
    class="container-lg bg-dark text-white">
    <div class="d-flex justify-content-between">
        <div><button class="btn btn-primary" (click)="previousDay()"><i class="pi pi-caret-left"></i></button></div>
        <div>
            {{daysGamesData.games.length}} for games for {{daysGamesData.date}}
        </div>
        <div>
            <button 
            class="btn btn-primary mx-1" 
            (click)="reload()"
            pTooltip="{{lastDataLoadTime?.toLocaleString()}}">
                <i class="pi pi-refresh"></i>
            </button>
            <button 
            class="btn btn-primary" 
            (click)="nextDay()">
                <i class="pi pi-caret-right"></i>
            </button>
        </div>
    </div>
</div>

<div *ngIf="!daysGamesData">Data loading...</div>

<div class="container" *ngIf="daysGamesData">
    <div class="row row-cols-2 pt-1">
        <div class="col p-1" *ngFor="let game of daysGamesData.games">
            <app-days-games-game [game]="game"></app-days-games-game>
        </div>
    </div>
</div>