<div 
    class="px-3 mx-auto w-full max-w-screen-xl bg-black text-white flex align-middle justify-between py-2">
      <button class="btn btn-primary" (click)="previousDay()"><i class="pi pi-caret-left"></i></button>
      <div>
          <h4>{{daysStandingsData ? '' : 'loading'}} standings for {{standingsDate | dayOfWeek | titlecase}}, {{standingsDate}}</h4>
      </div>
      <div>
          <button 
          class="btn btn-primary mx-1" 
          (click)="reload()"
          pTooltip="{{lastDataLoadTime?.toLocaleString()}}">
              <i class="pi pi-refresh"></i>
          </button>
          <button 
          class="btn btn-primary mx-1" 
          (click)="nextDay()">
              <i class="pi pi-caret-right"></i>
          </button>
      </div>
</div>

<div class="container" *ngIf="daysStandingsData">
    <div class="row row-cols-3 pt-1">
        <div class="col p-1" *ngFor="let division of daysStandingsData.nlDivisions">
            <div class="row">
              <div class="col-6"></div>
              <div class="col-2">W</div>
              <div class="col-2">L</div>
              <div class="col-2">GB</div>
            </div>
            <div *ngFor="let team of division.teamRecords" class="row">
              <div class="col-6">{{team.teamName}}</div>
              <div class="col-2">{{team.gamesWon}}</div>
              <div class="col-2">{{team.gamesLost}}</div>
              <div class="col-2">{{team.divisionGamesBack}}</div>
            </div>
        </div>

        <div class="col p-1" *ngFor="let division of daysStandingsData.alDivisions">
          <div class="row">
            <div class="col-6"></div>
            <div class="col-2">W</div>
            <div class="col-2">L</div>
            <div class="col-2">GB</div>
          </div>
          <div *ngFor="let team of division.teamRecords" class="row">
            <div class="col-6">{{team.teamName}}</div>
            <div class="col-2">{{team.gamesWon}}</div>
            <div class="col-2">{{team.gamesLost}}</div>
            <div class="col-2">{{team.divisionGamesBack}}</div>
          </div>
      </div>
    </div>
</div>